/* line 23, ../sass/style.scss */
body {
  width: 100%;
  margin: 0;
  background-color: #e8e8e7;
}

/* line 29, ../sass/style.scss */
header {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 60px;
}
/* line 35, ../sass/style.scss */
header figure {
  width: 80px;
  float: left;
  margin-right: 20px;
}
/* line 41, ../sass/style.scss */
header nav {
  float: right;
}
/* line 45, ../sass/style.scss */
header:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}

/* line 57, ../sass/style.scss */
footer {
  height: 495px;
  background-color: #3b3742;
  padding: 60px;
}
/* line 62, ../sass/style.scss */
footer p {
  color: #e8e8e7;
  font-weight: 200;
  letter-spacing: 1px;
  width: 300px;
}

/* line 71, ../sass/style.scss */
h1 {
  color: #3b3742;
  font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif';
  font-size: 2em;
  line-height: 37px;
  letter-spacing: 1px;
  width: 400px;
}

/* line 80, ../sass/style.scss */
h2 {
  color: #3399cc;
  font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif';
  font-size: 1.3em;
}

/* line 86, ../sass/style.scss */
h3 {
  color: #cccc66;
  font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif';
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 500;
}

/* line 94, ../sass/style.scss */
p {
  color: #323232;
  font-size: .8em;
  line-height: 20px;
}

/* line 101, ../sass/style.scss */
p,
a {
  font-family: 'arial', 'helvetica', 'sans-serif';
}

/* line 105, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 109, ../sass/style.scss */
li {
  display: inline;
  margin-right: 15px;
  font-weight: bold;
}
/* line 114, ../sass/style.scss */
li a {
  color: #3b3742;
  font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif';
  padding: 7px 9px;
}
/* line 119, ../sass/style.scss */
li a:hover {
  color: white;
  background-color: #3b3742;
}

/* line 127, ../sass/style.scss */
#content {
  width: 500px;
  padding: 30px 60px;
}

/* line 132, ../sass/style.scss */
#clear {
  clear: both;
}

/* line 135, ../sass/style.scss */
.bar {
  width: 25%;
  height: 10px;
  float: left;
}

/* line 141, ../sass/style.scss */
.internal_link a {
  color: #cc0099;
  font-style: italic;
}
/* line 145, ../sass/style.scss */
.internal_link a:hover {
  text-decoration: underline;
}

/* line 150, ../sass/style.scss */
.buttons {
  padding: 15px 70px;
  display: inline-block;
}

/* line 155, ../sass/style.scss */
.button_pink {
  background-color: #cc0099;
  color: white;
}
/* line 16, ../sass/style.scss */
.button_pink:hover {
  background-color: #a3007a;
  color: white;
}

/* line 160, ../sass/style.scss */
.button_yellow {
  background-color: #cccc66;
  color: #3b3742;
}
/* line 16, ../sass/style.scss */
.button_yellow:hover {
  background-color: #c2c247;
  color: white;
}

/* line 165, ../sass/style.scss */
.purple {
  background-color: #3b3742;
}

/* line 166, ../sass/style.scss */
.yellow {
  background-color: #cccc66;
}

/* line 167, ../sass/style.scss */
.blue {
  background-color: #3399cc;
}

/* line 168, ../sass/style.scss */
.pink {
  background-color: #cc0099;
}
