//variables//
$pink : #cc0099; 
$blue : #3399cc;
$purple : #3b3742;
$yellow : #cccc66;
$light-grey : #e8e8e7; 
$dark-grey : #323232;
$white: #ffffff;



//mixins//
@mixin buttons-config($color) {
	background-color: $color; 

	&:hover{ 
		background-color: darken($color, 8);
		color: $white;
	}	
}

//HTML5//
body{ 
	width:100%; 
	margin: 0; 
	background-color: $light-grey;
}

header{
	background-color: $white;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 60px;

	figure{
		width: 80px;
		float: left;
		margin-right: 20px;	
	}

	nav{
		float: right;
	}

	&:after{
		clear: both;
		display: block;
		height: 0;
		overflow: hidden;
		visibility: hidden;
		content: ".";
		font-size: 0;
	}

}

footer{ 
	height: 495px;
	background-color: $purple;
	padding: 60px;
	
	p{
		color: $light-grey;
		font-weight: 200;
		letter-spacing: 1px;
		width: 300px;
	}

}

h1{
	color: $purple;
	font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif';
	font-size: 2em;
	line-height: 37px;
	letter-spacing: 1px;	
	width: 400px;
}

h2{ 
	color: $blue; 
	font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif'; 
	font-size: 1.3em;
}

h3{
	color: $yellow;
	font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif'; 
	font-size: 1.3em;
	letter-spacing: 1px;
	font-weight: 500; 
}

p{ 
	color: $dark-grey;
	font-size: .8em;
	line-height: 20px;
 }

p,
a{
	font-family: 'arial', 'helvetica', 'sans-serif';
}

a{ 
	text-decoration: none; 	
}

li{
	display: inline;
	margin-right: 15px;
	font-weight: bold;	 

	a{
		color: $purple;
		font-family: 'Raleway', 'arial', 'helvetica', 'sans-serif';
		padding: 7px 9px;

		&:hover{
			color: $white;
			background-color: $purple;
		}
	}		
}

//IDs//
#content{ 
	width: 500px; 
	padding: 30px 60px;
}

#clear{ clear: both;}

//Classes//
.bar{
	width:25%;
	height: 10px;
	float: left;
}

.internal_link a{
	color: $pink;
	font-style: italic; 
	
	&:hover{
	text-decoration: underline;
	}
}

.buttons{ 
	padding: 15px 70px; 
	display: inline-block;
}		

.button_pink{ 
	@include buttons-config($pink);
	color: $white; 
}	

.button_yellow{ 
	@include buttons-config($yellow);
	color: $purple; 
}		

.purple{ background-color: $purple; }
.yellow{ background-color: $yellow; }
.blue{ background-color: $blue; }
.pink{ background-color: $pink; }
